<section ng-show="im === 1">
		<ul class="nav nav-pills" ng-class="{active: Panel.pokemonOut(im)}" style="display: flex; justify-content: center; text-align: center;">
			<li ng-class="{active: Panel.isSelected(1)}"><a ng-click="Panel.setTab(1)">Type</a></li>
			<li ng-class="{active: Panel.isSelected(2)}"><a ng-click="Panel.setTab(2)">Attacks</a></li>
			<li ng-class="{active: Panel.isSelected(3)}"><a ng-click="Panel.setTab(3)">Evolution</a></li>
			<li ng-class="{active: Panel.isSelected(4)}"><a ng-click="Panel.setTab(4)">Analysis</a></li>
		</ul>
		
		<div class="panel" ng-show="Panel.isSelected(1)">
			<img ng-src= "{{ pokemon.img.tipo }}" style="width:200px; height:100px"/>
		</div>
		
		<div class="panel" ng-show="Panel.isSelected(2)">
			<p>{{ pokemon.ataques }}</p>
		</div>
		
		<div class="panel" ng-show="Panel.isSelected(3)">
			<img ng-src= "{{ pokemon.img.ev1 }}" />
			<img ng-src= "{{ pokemon.img.ev2 }}" />
		</div>

		<div class="panel" ng-show="Panel.isSelected(4)">
			<blockquote ng-repeat="opinion in pokemon.opiniones" style="text-align: center">
				<img ng-repeat="opinion in Panel.getNumber(opinion.rate) track by $index" ng-src="img/ic_pokeball.png" style="padding: 5px"/><br />
				{{ opinion.comentario }}
				<br /><cite>By: {{ opinion.autor }}, Mail: {{ opinion.mail }} </cite>
			</blockquote>
		<form name="reviewForm" ng-controller="ReviewController as ReviewCtrl" ng-submit="reviewForm.$valid && ReviewCtrl.addReview(pokemon)" novalidate>
		<blockquote>
			Rating: <img ng-repeat="opinion in Panel.getNumber(ReviewCtrl.review.rate) track by $index" ng-src="img/ic_pokeball.png" style="padding: 5px" /><br />
				{{ ReviewCtrl.review.comentario }}
				<br /><cite>By: {{ ReviewCtrl.review.autor }}, Mail: {{ ReviewCtrl.review.mail }} </cite>
		</blockquote>
			<fieldset class="form-gorup">
				<SELECT ng-model="ReviewCtrl.review.rate" class="form-control" title="stars" required>
					<option value="" disabled="true">Rate your Starter</option>
					<option value=1>1</option>
					<option value=2>2</option>
					<option value=3>3</option>
					<option value=4>4</option>
					<option value=5>5</option>
				</SELECT>
			</fieldset>
			<fieldset class="form-group">
				<textarea ng-model="ReviewCtrl.review.comentario" class="form-control" required></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label>By: {{ ReviewCtrl.review.autor }}</label>
			</fieldset>
			<fieldset class="form-group">
				<input ng-model="ReviewCtrl.review.autor" class="form-control" required />
			</fieldset>
			<fieldset class="form-group">
				Mail: <input ng-model="ReviewCtrl.review.mail" type="email" class="form-control" required />
			</fieldset>
			<fieldset class="form-group">
				<input type="submit" value="Submit" class="btn btn-primary pull-right" />
			</fieldset>
		</form>
		</div>

	</section>