<section>
    <ul class="nav nav-pills">
        <li ng-class="{active:Panel.isSelected(1)}">
            <a ng-click="Panel.setTab(1)">Title</a>
        </li>
        <li ng-class="{active:Panel.isSelected(2)}">
            <a ng-click="Panel.setTab(2)">Release Date</a>
        </li>
        <li ng-class="{active:Panel.isSelected(3)}">
            <a ng-click="Panel.setTab(3)">Language</a>
        </li>
    </ul>
    <div class="panel" ng-show="Panel.isSelected(1)">
        <h4>Title</h4>

        <p>{{movie.title}}</p>
    </div>
    <div class="panel" ng-show="Panel.isSelected(2)">
        <h4>Release Date</h4>

        <p>{{movie.release_date}}</p>
    </div>
    <div class="panel" ng-show="Panel.isSelected(3)">
        <h4>Language</h4>

        <p>{{movie.original_language}}</p>
    </div>
</section>