
<!DOCTYPE >
<HTML ng-app="store">
<HEAD>

<style>
 


ul#menu li{
	text-align: center;
	display: inline;
    padding: 10px 20px;
    border-radius: 4px 4px 0 0;
}

ul#menu ul#desc li{
	text-align: right;	
    border-radius: 4px 4px 0 0;
}

.ng-invalid.ng-dirty{
	border-color: #ff0000;
}

.ng-valid.ng-dirty{
	border-color: #4cae4c;
}

button {
    align: right;
}

</style>

<TITLE>Destilados y Licores</TITLE>

<script src="/libs/jquery.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/libs/angular.min.js"></script>
<SCRIPT src="formulario.js" > </SCRIPT>
<SCRIPT src="app.js" > </SCRIPT>




<!-- Abriendo otra ventana-->
<script>
function myFunction() {
    setTimeout(function(){ 
    
    	window.open("booze.images.full")
    }, 1000);
}
</script>


<link href="/libs/bootstrap.min.css" rel="stylesheet"/> 
<link rel=”stylesheet” href=”demo.css”>
</HEAD>


<BODY background="Images/fondo.jpg" ng-controller="StoreController as store">

			<!-- Iconos -->
		<!--	<div class="col-md-1" ng-repeat="booze in store.booze" style = "border:0px solid black;"> 
			
						<!-- Bloque de iconos, ONCLICK abre otra pagina 
						<image ng-src="{{booze.images.full}}" width="40" height="40" 
											onclick="myFunction()" style = "border:1px solid black;"></image>
			</div> -->
	<br><br><br>
	<!--
	<p>{{"Hola mi nombre es" + " Fernando, y me gusta el alcohol, tengo "}}{{2+21}} </p> -->


 
 <!--

    <!-- Navigation 
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Catalogo</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Volver</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse 
        </div>
        <!-- /.container 
    </nav>

-->

	<div >
	

		<!-- Bloque que contiene cada objeto y sus caracteristicas -->

		<ul id="menu" >
						<div class="container-fluid">
							<div class="col-md-4" ng-repeat="booze in store.booze" style="display: flex; justify-content: center; flex-direction: column; text-align: center; margin-bottom: 30px; border:2px solid black;" > 
								<li>
								<div class="row">	
								<!-- Nombre y Precio -->
								<div class="col-md-12">
									<!-- Maneras de incluir HTML'S externos -->
									<h1 ng-include="'name-title.html'" style="color:white;"> </h1>
									<h2 price-title style="color:white;"> </h2>
								</div>
									<!--	<h1> {{booze.name | uppercase}} </h1>  
									<h2> {{booze.price | currency}} </h2> -->
									<!-- <p> {{booze.description}} </p> -->

						
									 <div class="col-sm-6 col-lg-6 col-md-6">
										<img ng-src="{{booze.images.full}}" width="200" height="200"  style = "border:4px solid black; float:left;"></img>
									</div>
									<!--	<button ng-show="store.booze.canPurchase" name="canPurchase" class="ng-hide" >Comprar</button>  -->

									<div class="col-sm-6 col-lg-6 col-md-6" style="display: block; float:right;">

 									<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#panelFormulario" style="padding: 10px" ng-click = "Panel.setBooze(booze)">Ver Mas</button>
													
													
									</div>

								</div>



									<br>
						<p align=center> <button ng-show="booze.canPurchase" style='align: middle;'>	 Comprar !</button>	</p>
					</div>

		</div>
		</ul>	
		<panel-formulario style="display: block; float:right;"> </panel-formulario> 
	</div>
	
	<!--
	<div ng-hide="store.booze.soldOut">
		<h1> {{store.booze[1].name}} </h1>
		<h2> {{store.booze[1].price}} </h2>
		<p> {{store.booze[1].description}} </p>

		<button ng-show="store.booze.canPurchase" name="canPurchase" class="ng-hide">Comprar</button>
	</div>
	-->

	    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="color:white;">Copyright &copy; iPheer Softtek Website 2015</p>
                </div>
            </div>
        </footer>

    </div>



</BODY>
</HTML>